<style scoped>

section {
  display: flex;
  flex:1;
  flex-direction: column;
  padding: 16px;
  align-content: center;
  justify-content: center;
}
</style>
<template>
  <section>
    <v-row align="center" justify="end">
      <v-col cols="auto">
        <v-btn color="success" @click="handleNavigateToRegister" append-icon="mdi-plus" density="default">Cadastrar</v-btn>
      </v-col>
    </v-row>
    <v-data-table-server
      v-model:items-per-page="itemsPerPage"
      :headers="headers"
      :items="serverItems"
      :items-length="totalItems"
      :loading="loading"
      :search="search"
      item-value="name"
      @update:options="loadItems"
      height="70vh"
    ></v-data-table-server>
  </section>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import router from '@/router'

const desserts = [
  {
  healthUnity: 'US. Castália de Diamantina',
  cnes: '8390432',
  city: 'Nova Friburgo',
  neighborhood: 'Lumiar',
  }, {
  healthUnity: 'US. Castália de Diamantina',
  cnes: '8390432',
  city: 'Nova Friburgo',
  neighborhood: 'Lumiar',
  }, {
  healthUnity: 'US. Castália de Diamantina',
  cnes: '8390432',
  city: 'Nova Friburgo',
  neighborhood: 'Lumiar',
  }, {
  healthUnity: 'US. Castália de Diamantina',
  cnes: '8390432',
  city: 'Nova Friburgo',
  neighborhood: 'Lumiar',
  }, {
  healthUnity: 'US. Castália de Diamantina',
  cnes: '8390432',
  city: 'Nova Friburgo',
  neighborhood: 'Lumiar',
  }, {
  healthUnity: 'US. Castália de Diamantina',
  cnes: '8390432',
  city: 'Nova Friburgo',
  neighborhood: 'Lumiar',
  }, {
  healthUnity: 'US. Castália de Diamantina',
  cnes: '8390432',
  city: 'Nova Friburgo',
  neighborhood: 'Lumiar',
  }, {
  healthUnity: 'US. Castália de Diamantina',
  cnes: '8390432',
  city: 'Nova Friburgo',
  neighborhood: 'Lumiar',
  }, {
  healthUnity: 'US. Castália de Diamantina',
  cnes: '8390432',
  city: 'Nova Friburgo',
  neighborhood: 'Lumiar',
  }, {
  healthUnity: 'US. Castália de Diamantina',
  cnes: '8390432',
  city: 'Nova Friburgo',
  neighborhood: 'Lumiar',
  }, {
    healthUnity: 'US. Castália de Diamantina',
    cnes: '8390432',
    city: 'Nova Friburgo',
    neighborhood: 'Lumiar'
  }
]
const itemsPerPage = ref(8)
const headers = ref([
  {
    title: 'Unidade de Saúde',
    align: 'start',
    sortable: false,
    key: 'healthUnity'
  },
  { title: 'CNS', key: 'cnes', align: 'start',sortable: false, },
  { title: 'Município', key: 'city', align: 'start',sortable: false, },
  { title: 'Bairro', key: 'neighborhood', align: 'start', },
] as any)
const search = ref('')
const serverItems = ref([])
const loading = ref(true)
const totalItems = ref(0)

const FakeAPI = {
  async fetch({ page, itemsPerPage, sortBy }: any) {
    return new Promise(resolve => {
      setTimeout(() => {
        const start = (page - 1) * itemsPerPage
        const end = start + itemsPerPage
        const items = desserts.slice()

        if (sortBy.length) {
          const sortKey = sortBy[0].key
          const sortOrder = sortBy[0].order
          items.sort((a:any, b:any) => {
            const aValue = a[sortKey]
            const bValue = b[sortKey]
            return sortOrder === 'desc' ? bValue - aValue : aValue - bValue
          })
        }

        const paginated = items.slice(start, end)

        resolve({ items: paginated, total: items.length })
      }, 500)
    })
  }
}

const loadItems = ({ page, itemsPerPage, sortBy }: any) => {
  loading.value = true
  FakeAPI.fetch({ page, itemsPerPage, sortBy }).then(({ items, total }: any) => {
    serverItems.value = items
    totalItems.value = total
    loading.value = false
  })
}

const handleNavigateToRegister = ()=>{
  router.push({ path: '/health-unities/register' })
}

</script>