<style scoped>
.import-container {
  border: 1px dashed #A29F9F;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

span {
  color: #393939;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.description {
  text-align: center;
}
</style>
<template>
  <v-container>
    <v-row align="center" justify="space-between">
      <v-col cols="auto">
        <h2>Importar e exportar arquivos - </h2>
      </v-col>
      <v-col cols="auto">
        <v-btn color="white" append-icon="mdi-microsoft-excel" density="default">Exportar arquivo</v-btn>
      </v-col>
    </v-row>
    <v-row align="center" justify="space-between">
      <v-col cols="8" justify="center">
        <div class="import-container">
          <v-btn
            size="60"
            color="#F8F8F9"
            icon="mdi-import"
          ></v-btn>
          <br>
          <span>Importar</span>
          <br>
          <span class="description">Selecione um arquivo .XML do seu computador. <br />Você pode arrastar e soltar um .XML aqui para iniciar o upload.</span>
          <br>
            <v-btn color="white"  append-icon="mdi-chevron-up" density="default">Selecione um arquivo para importar</v-btn>
        </div>
      </v-col>
      <v-col cols="4">
        <h2>Histórico de importações - </h2>
        <v-data-table-server
          v-model:items-per-page="itemsPerPage"
          :headers="headers"
          :items="serverItems"
          :items-length="totalItems"
          :loading="loading"
          :search="search"
          item-value="name"
          @update:options="loadItems"
          height="380px"

        >
          <template v-slot:body="{ items }">
            <tr v-for="(item, key) in items" :key="key">
              <td>{{ (item as any).date }}</td>
              <td>{{ (item as any).time }}</td>
              <td><v-icon large @click="handleClickFile(item)"> mdi-microsoft-excel </v-icon></td>
            </tr>
          </template>
        </v-data-table-server>
      </v-col>
    </v-row>
  </v-container>
</template>
<script setup lang="ts">
import { ref } from 'vue'

const files = [
  {
    date: '03/05/2024',
    time: '15:52',
    file: 'file',
  },
  {
    date: '03/05/2024',
    time: '15:52',
    file: 'file',
  },
  {
    date: '03/05/2024',
    time: '15:52',
    file: 'file',
  },
  {
    date: '03/05/2024',
    time: '15:52',
    file: 'file',
  },
]
const itemsPerPage = ref(5)
const headers = ref([
  {
    title: 'Data',
    align: 'start',
    sortable: false,
    key: 'date'
  },
  { title: 'Hora', key: 'time', align: 'start',sortable: false, },
  { title: 'Arquivo', key: 'file', align: 'start',sortable: false, },
] as any)
const search = ref('')
const serverItems = ref([])
const loading = ref(true)
const totalItems = ref(0)

const FakeAPI = {
  async fetch({ page, itemsPerPage, sortBy }: any) {
    return new Promise(resolve => {
      setTimeout(() => {
        const start = (page - 1) * itemsPerPage
        const end = start + itemsPerPage
        const items = files.slice()

        if (sortBy.length) {
          const sortKey = sortBy[0].key
          const sortOrder = sortBy[0].order
          items.sort((a:any, b:any) => {
            const aValue = a[sortKey]
            const bValue = b[sortKey]
            return sortOrder === 'desc' ? bValue - aValue : aValue - bValue
          })
        }

        const paginated = items.slice(start, end)

        resolve({ items: paginated, total: items.length })
      }, 500)
    })
  }
}

const handleClickFile = (item:any)=>{
  console.log('item',item)
}

const loadItems = ({ page, itemsPerPage, sortBy }: any) => {
  loading.value = true
  FakeAPI.fetch({ page, itemsPerPage, sortBy }).then(({ items, total }: any) => {
    serverItems.value = items
    totalItems.value = total
    loading.value = false
  })
}
</script>