
<style scoped>
main{
  display: flex;
  flex:1;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
section{
  display: flex;
  flex:1;
  height: 100%;
  justify-content: center;
  align-items: center;
}
aside{
  display: flex;
  flex:1;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}
h1{
  color: #000;
  text-align: right;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
}
span{
  color: #737373;
  text-align: right;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
</style>
<template>
  <main>
    <section>
      <img src="../assets/building.svg">
    </section>
    <aside>
      <h1>
        Estamos trabalhando <br/>para trazer<br/>
        essa funcionalidade<br/> em breve.
      </h1>
      <span>
        Nossa equipe de desenvolvedores e<br/>
        profissionais dedicados a<br/> experiência do usuário<br/>
        estão focados em entregar<br/> o melhor!
      </span>
    </aside>
  </main>
</template>
<script setup lang="ts">

</script>
