<style scoped>

section {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 16px;
  align-content: center;
  justify-content: center;
}
</style>
<template>
  <section>
    <v-row align="center" justify="end">
      <v-col cols="auto">
        <v-btn color="success" @click="handleNavigateToRegister" append-icon="mdi-plus" density="default">Cadastrar
        </v-btn>
      </v-col>
    </v-row>
    <v-data-table-server
      v-model:items-per-page="itemsPerPage"
      :headers="headers"
      :items="professionals"
      :items-length="totalItems"
      :loading="loading"
      :search="search"
      item-value="name"
      @update:options="loadItems"
      height="70vh"
    ></v-data-table-server>
  </section>
</template>

<script setup lang="ts">
import {  ref } from 'vue'
import router from '@/router'
import { collection, getDocs, query,startAfter, orderBy,limit } from 'firebase/firestore'
import { useFirestore } from 'vuefire'
const db = useFirestore()
const itemsPerPage = ref(1)
const headers = ref([
  {
    title: 'Nome',
    align: 'start',
    sortable: false,
    key: 'professionalName'
  },
  { title: 'Conselho', key: 'conselho', align: 'start', sortable: false },
  { title: 'Especialidade', key: 'speciality', align: 'start', sortable: false },
  { title: 'Telefone', key: 'cellphone', align: 'start' }
] as any)
const search = ref('')
const professionals = ref([])
const loading = ref(true)
const totalItems = ref(0)

const loadProfessionals = async ({ page, itemsPerPage }: any)=>{
  const start = (page - 1) * itemsPerPage
  const end = start + itemsPerPage
  const professionalsCollection = collection(db, 'professionals')
  const q = query(professionalsCollection,orderBy('name'), startAfter(start),limit(end))
  const querySnapshot = await getDocs(q);
  const response = [] as any
  querySnapshot.forEach((doc) => {
    response.push({
      title:doc.data().name,
      value:doc.id,
      professionalName:doc.data().name,
      conselho:doc.data().boardName,
      speciality:doc.data().speciality,
      cellphone:doc.data().cellphone,
    })
  });
  return { items:response,total:10 }
}

const loadItems = async ({ page, itemsPerPage, sortBy }: any) => {
  try{
  loading.value = true
  const {items,total} = await loadProfessionals({ page, itemsPerPage })
  professionals.value = items
  totalItems.value = total
  loading.value = false
  }catch(error){
    console.log('error',error)
    alert('Falha ao carregar items.')
  }finally {
    loading.value = false
  }
}

const handleNavigateToRegister = () => {
  router.push({ path: '/professionals/register' })
}

</script>