<style scoped>
</style>

<template>
  <v-container>
    <h3>Informações da unidade</h3>
    <v-form >
      <v-container>
        <v-row>
          <v-col
            cols="8"
            md="8"
          >
            <v-text-field
              :counter="10"
              label="Nome da unidade"
              hide-details
              required
              variant="outlined"
            ></v-text-field>
          </v-col>

          <v-col
            cols="4"
            md="4"
          >
            <v-text-field
              :counter="10"
              label="Código CNES"
              hide-details
              required
              variant="outlined"
            ></v-text-field>
          </v-col>

        </v-row>
        <v-row>
          <v-col
            cols="6"
            md="6"
          >
            <v-text-field
              :counter="10"
              label="Razão Social"
              hide-details
              required
              variant="outlined"
            ></v-text-field>
          </v-col>

          <v-col
            cols="6"
            md="6"
          >
            <v-text-field
              :counter="10"
              label="Nome Fantasia"
              hide-details
              required
              variant="outlined"
            ></v-text-field>
          </v-col>

        </v-row>
        <v-row>
          <v-col
            cols="6"
            md="6"
          >
            <v-text-field
              :counter="10"
              label="Setor"
              hide-details
              required
              variant="outlined"
            ></v-text-field>
          </v-col>

          <v-col
            cols="6"
            md="6"
          >
            <v-text-field
              :counter="10"
              label="Local de Atendimento"
              hide-details
              required
              variant="outlined"
            ></v-text-field>
          </v-col>

        </v-row>
      </v-container>
      <h3>Endereço</h3>
      <v-container>
        <v-row>
          <v-col
            cols="4"
            md="4"
          >
            <v-text-field
              :counter="10"
              label="CEP"
              hide-details
              required
              variant="outlined"
            ></v-text-field>
          </v-col>

        </v-row>
        <v-row>
          <v-col
            cols="4"
            md="4"
          >
            <v-text-field
              :counter="10"
              label="Logradouro"
              hide-details
              required
              variant="outlined"
            ></v-text-field>
          </v-col>

          <v-col
            cols="4"
            md="4"
          >
            <v-text-field
              :counter="10"
              label="Complemento"
              hide-details
              required
              variant="outlined"
            ></v-text-field>
          </v-col>
          <v-col
            cols="4"
            md="4"
          >
            <v-text-field
              :counter="10"
              label="Município"
              hide-details
              required
              variant="outlined"
            ></v-text-field>
          </v-col>

        </v-row>
        <v-row>
          <v-col
            cols="4"
            md="4"
          >
            <v-text-field
              label="Número"
              hide-details
              required
              variant="outlined"
            ></v-text-field>
          </v-col>

          <v-col
            cols="4"
            md="4"
          >
            <v-text-field
              label="Bairro"
              hide-details
              required
              variant="outlined"
            ></v-text-field>
          </v-col>

        </v-row>
      </v-container>
      <h3>Contato</h3>
      <v-container>
        <v-row>
          <v-col
            cols="4"
            md="4"
          >
            <v-text-field
              label="E-mail"
              hide-details
              required
              variant="outlined"
            ></v-text-field>
          </v-col>
          <v-col
            cols="4"
            md="4"
          >
            <v-text-field
              label="Telefone"
              hide-details
              required
              variant="outlined"
            ></v-text-field>
          </v-col>

        </v-row>
      </v-container>
      <v-row align="center" justify="end">
        <v-col cols="auto">
          <v-btn color="success" append-icon="mdi-content-save" density="default">Salvar</v-btn>
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>

<script setup lang="ts">

</script>