<style scoped>
</style>

<template>
  <v-container>
    <h3>Dados do Profissional</h3>
    <v-form validate-on="submit lazy" @submit.prevent="submit">
      <v-container>
        <v-row>
          <v-col
            cols="12"
            md="12"
          >
            <v-autocomplete
              v-model="professional"
              label="Nome do profissional"
              :items="availableProfessionals"
              variant="outlined"
              :rules="requiredRules"
            ></v-autocomplete>
          </v-col>
        </v-row>
        <v-row>
          <v-col
            cols="6"
            md="6"
          >
            <v-text-field
              v-model="boardName"
              label="Nome do conselho"
              required
              variant="outlined"
              :rules="requiredRules"
            ></v-text-field>
          </v-col>

          <v-col
            cols="6"
            md="6"
          >
            <v-text-field
              v-model="boardNumber"
              label="Número do conselho"
              required
              variant="outlined"
              :rules="requiredRules"
            ></v-text-field>
          </v-col>

        </v-row>
      </v-container>
      <h3>Disponibilidade</h3>
      <v-container>
        <v-row>
          <v-col
            cols="4"
            md="4"
          >
            <DatePicker v-model="date" label="Data disponível" :rules="requiredRules" />
          </v-col>
        </v-row>
        <v-row>
          <v-col
            cols="6"
            md="6"
          >
           <TimePicker label="Hora de Entrada" v-model="startTime" :rules="requiredRules" />
          </v-col>
          <v-col
            cols="6"
            md="6"
          >
            <TimePicker label="Hora de Saída" v-model="endTime" :rules="requiredRules" />
          </v-col>
        </v-row>

      </v-container>
      <v-row align="center" justify="end">
        <v-col cols="auto">
          <v-btn :loading="loading" type="submit" color="success" append-icon="mdi-content-save" density="default">Salvar</v-btn>
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue'
import DatePicker from '@/components/DatePicker.vue'
import TimePicker from '@/components/TimePicker.vue'
import { collection, doc, getDocs, query, setDoc, Timestamp } from 'firebase/firestore'
import { useFirestore } from 'vuefire'
import { uuid } from 'vue-uuid'
const db = useFirestore()

const loading = ref(false)
const professional = ref('')
const boardName = ref('')
const boardNumber = ref('')
const date = ref(null)
const startTime = ref(null)
const endTime = ref(null)
const requiredRules = ref([
  (value: string) => {
    if (value) return true
    return 'Campo Obrigatório.'
  }
])
const availableProfessionals = ref([] as any)

const loadProfessionals = async ()=>{
  const professionals = collection(db, 'professionals')
  const q = query(professionals)
  const querySnapshot = await getDocs(q);
  const response = [] as any
  querySnapshot.forEach((doc) => {
    response.push({
      title:doc.data().name,
      value:doc.id,
      ...doc.data()
    })
  });
  availableProfessionals.value = response
}
onMounted(()=>{
  loadProfessionals()
})

const submit = async (event:any)=>{
  const {valid} = await event
  if(!valid) return
  const professionalName = availableProfessionals.value.find((item:any)=>item.value===professional.value)
  const payload = {
    professionalId: professional.value,
    professionalName:professionalName.title,
    boardName:boardName.value,
    boardNumber:boardNumber.value,
    date: date.value,
    startTime:startTime.value,
    endTime:endTime.value,
    available:true
  }
  try{
    loading.value = true
    const id = uuid.v4()
    const schedulesCollection = collection(db, 'schedules')
    const subscriptionRef = doc(schedulesCollection,id);
    await setDoc(subscriptionRef, {
      id,
      ...payload,
      createdAt: Timestamp.fromDate(new Date()),
    });
    alert('Agenda salva com sucesso!')
  }catch(error){
    console.log('error')
    alert('Erro ao cadastrar agenda')
  }
  finally {
    loading.value = false
  }
}
</script>
