<style scoped>
</style>

<template>
  <v-container>
    <h3>Informações pessoais</h3>
    <v-form validate-on="submit lazy" @submit.prevent="submit">
      <v-container>
        <v-row>
          <v-col
            cols="12"
            md="12"
          >
            <v-text-field
              v-model="name"
              :rules="requiredRules"
              label="Nome do profissional"
              required
              variant="outlined"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col
            cols="6"
            md="6"
          >
            <v-text-field
              v-model="boardName"
              :rules="requiredRules"
              label="Nome do conselho"
              required
              variant="outlined"
            ></v-text-field>
          </v-col>

          <v-col
            cols="6"
            md="6"
          >
            <v-text-field
              v-model="boardNumber"
              :rules="requiredRules"
              label="Número do conselho"
              required
              variant="outlined"
            ></v-text-field>
          </v-col>

        </v-row>
        <v-row>
          <v-col
            cols="6"
            md="6"
          >
            <v-text-field
              v-model="uf"
              :counter="2"
              :rules="requiredRules"
              label="UF"
              required
              variant="outlined"
            ></v-text-field>
          </v-col>

          <v-col
            cols="6"
            md="6"
          >
            <v-text-field
              v-model="speciality"
              :rules="requiredRules"
              label="Especialidade"
              required
              variant="outlined"
            ></v-text-field>
          </v-col>

        </v-row>
      </v-container>
      <h3>Contato</h3>
      <v-container>
        <v-row>
          <v-col
            cols="4"
            md="4"
          >
            <v-text-field
              v-model="email"
              :rules="requiredRules"
              label="E-mail"
              required
              variant="outlined"
            ></v-text-field>
          </v-col>
          <v-col
            cols="4"
            md="4"
          >
            <v-text-field
              v-model="cellphone"
              :rules="requiredRules"
              label="Telefone"
              required
              variant="outlined"
            ></v-text-field>
          </v-col>

        </v-row>
      </v-container>
      <h3>Dados de acesso</h3>
      <v-container>
        <v-row>
          <v-col
            cols="4"
            md="4"
          >
            <v-text-field
              v-model="login"
              :rules="requiredRules"
              label="Login"
              required
              variant="outlined"
            ></v-text-field>
          </v-col>

          <v-col
            cols="4"
            md="4"
          >
            <v-text-field
              v-model="password"
              :rules="requiredRules"
              label="senha"
              required
              variant="outlined"
            ></v-text-field>
          </v-col>
          <v-col
            cols="4"
            md="4"
          >
          </v-col>

        </v-row>
      </v-container>
      <v-row align="center" justify="end">
        <v-col cols="auto">
          <v-btn :loading="loading" type="submit" color="success" append-icon="mdi-content-save" density="default">
            Salvar
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>

<script setup lang="ts">
import { useFirestore } from 'vuefire'
import { ref } from 'vue'
import { collection,doc,setDoc, Timestamp } from 'firebase/firestore'

import { uuid } from 'vue-uuid';
const db = useFirestore()
const loading = ref(false)
const timeout = ref(false)
const name = ref('')
const boardName = ref('')
const boardNumber = ref('')
const uf = ref('')
const speciality = ref('')
const email = ref('')
const cellphone = ref('')
const login = ref('')
const password = ref('')
const sector = ref('')
const requiredRules = ref([
  (value: string) => {
    if (value) return true
    return 'Campo Obrigatório.'
  }
])

const submit = async (event:any) => {
  const {valid} = await event
  if(!valid) return
  const payload = {
    name: name.value,
    boardName:boardName.value,
    boardNumber:boardNumber.value,
    uf:uf.value,
    speciality:speciality.value,
    email:email.value,
    cellphone:cellphone.value,
    login:login.value,
    password:password.value
  }
  try{
    loading.value = true
    const id = uuid.v4()
    const professionals = collection(db, 'professionals')
    const subscriptionRef = doc(professionals,id);
    await setDoc(subscriptionRef, {
      id,
      ...payload,
      createdAt: Timestamp.fromDate(new Date()),
    });
    alert('Profissional salvo com sucesso!')
  }catch(error){
    console.log('error')
    alert('Erro ao cadastrar profissional')
  }
  finally {
    loading.value = false
  }
}
</script>