<style scoped>
</style>

<template>
  <v-container>
    <v-form v-model="valid">
      <v-container>
        <v-row>
          <v-col
            cols="12"
            md="12"
          >
            <v-autocomplete
              v-model="professional"
              label="Buscar por Paciente"
              :items="['California', 'Colorado', 'Florida', 'Georgia', 'Texas', 'Wyoming']"
              variant="outlined"
            ></v-autocomplete>
          </v-col>
        </v-row>
        <v-row>
          <v-col
            cols="4"
            md="4"
          >
            <v-text-field
              v-model="boardName"
              label="Convênio"
              hide-details
              required
              variant="outlined"
            ></v-text-field>
          </v-col>

          <v-col
            cols="4"
            md="4"
          >
            <v-autocomplete
              v-model="professional"
              label="Tipo de consulta"
              :items="['California', 'Colorado', 'Florida', 'Georgia', 'Texas', 'Wyoming']"
              variant="outlined"
            ></v-autocomplete>
          </v-col> <v-col
            cols="4"
            md="4"
          >
            <v-autocomplete
              v-model="professional"
              label="Repetir Agendamento"
              :items="['California', 'Colorado', 'Florida', 'Georgia', 'Texas', 'Wyoming']"
              variant="outlined"
            ></v-autocomplete>
          </v-col>

        </v-row>
        <v-row>
          <v-col
            cols="6"
            md="6"
          >
            <DatePicker v-model="date" label="Data da Consulta" />
          </v-col>
          <v-col
            cols="6"
            md="6"
          >
            <TimePicker label="Hora de Entrada" v-model="startTime" />
          </v-col>
        </v-row><v-row>
          <v-col
            cols="12"
            md="12"
          >
            <v-textarea label="Observação" variant="outlined"></v-textarea>
          </v-col>
        </v-row>
      </v-container>

      <v-row align="center" justify="end">
        <v-col cols="auto">
          <v-btn color="success" append-icon="mdi-content-save" density="default">Salvar</v-btn>
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import DatePicker from '@/components/DatePicker.vue'
import TimePicker from '@/components/TimePicker.vue'

const valid = ref(false)
const professional = ref('')
const boardName = ref('')
const boardNumber = ref('')
const date = ref(null)
const startTime = ref(null)
const endTime = ref(null)
</script>
