<style scoped>
.calendar-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 16px;
  align-content: center;
  justify-content: center;
}
</style>
<template>
  <section class="calendar-container is-light-mode">
    <v-row align="center" justify="end" >
      <v-col cols="auto">
        <v-btn color="primary" density="default" @click="handleNavigateToRegister">Cadastrar disponibilidade</v-btn>
      </v-col>
    </v-row>
    <br>
    <Qalendar
      :events="formattedEvents"
      :config="config"
    />
  </section>
</template>

<script setup lang="ts">
import { useDate } from 'vuetify'

type Schedule = {
  id: string,
  professionalId: string,
  professionalName:string,
  boardName:string,
  boardNumber:string,
  date: any,
  startTime:string,
  endTime:string,
  available:boolean,
  professional:{
    speciality:string
  }
}
import 'qalendar/dist/style.css'
import { computed, onMounted, ref } from 'vue'
import { Qalendar } from 'qalendar'
import router from '@/router'
import { collection, doc, getDocs, query, getDoc } from 'firebase/firestore'
import { useFirestore } from 'vuefire'
import { format } from 'date-fns'
const db = useFirestore()
const dateHook = useDate()
const config = ref({
  week: {
    startsOn: 'monday',
    nDays: 7,
    scrollToHour: 5
  },
  month: {
    // Hide leading and trailing dates in the month view (defaults to true when not set)
    showTrailingAndLeadingDates: false
  },
  locale: 'pt-BR',
  style: {
      colorSchemes: {
        passed: {
          color: '#FF3E3E',
          backgroundColor: '#FF3E3E',
        },
        available: {
          color: '#204E99',
          backgroundColor: '#204E99',
        },
        booked: {
          color: '#37C871',
          backgroundColor: '#37C871',
        },
      }
  },
  defaultMode: 'month',
  isSilent: true,
  showCurrentTime: true
})
const schedules = ref<Schedule[]>([]as Schedule[])
const handleNavigateToRegister = () => {
  router.push({ path: '/schedule/register-availability' })
}
const loadSchedules = async ()=>{
  const schedulesCollection = collection(db, 'schedules')
  const professionalsCollection = collection(db, 'professionals')
  const q = query(schedulesCollection)
  const querySnapshot = await getDocs(q);
  const response = [] as any
  await Promise.all(querySnapshot.docs.map(async item=>{
    const docRef = doc(professionalsCollection, item.data().professionalId);
    const docSnap = await getDoc(docRef);
    response.push({
      ...item.data(),
      professional:docSnap.data()
    })
  }))
  console.log('response',response)
  schedules.value = response
}
onMounted(()=>{
  loadSchedules()
})

const formattedEvents = computed(()=>{
    const response =  schedules.value.map((item:Schedule)=>{
      const rawDate = new Date(item.date.seconds*1000)
      const date = format(rawDate, 'yyyy-MM-dd')
      const startDate = `${date} ${item.startTime}`
      const endDate = `${date} ${item.endTime}`
      const color = getColor(item,new Date(startDate))
      return {
        title:'Agenda disponível',
        with: item.professionalName,
        time: { start: startDate, end: endDate },
        colorScheme:color,
        isEditable: false,
        id: item.id,
        description:`
          Especialidade: ${item.professional.speciality}
        `
      }
    })
  return response
})

const getColor = (item:Schedule,rawDate:Date)=>{
  const now = new Date()
  const isPassed = dateHook.isBefore(rawDate,now)
  console.log('isPassed',isPassed)
  const isBooked = !item.available
  if(isPassed) return 'passed'
  if(isBooked) return 'booked'
  return 'available'
}


</script>