<style scoped>

</style>
<template>
  <v-menu
    :close-on-content-click="false"
    v-model="menu"
  >
    <template v-slot:activator="{ props }">
      <v-text-field
        :model-value="formatedDate"
        :label="label"
        readonly
        v-bind="props"
        hide-details
        required
        variant="outlined"
        append-icon="mdi-calendar"
        :rules="rules"
      ></v-text-field>
    </template>
    <v-date-picker
      hide-header
      scrollable
      v-model="model"
      required
    ></v-date-picker>
  </v-menu>
</template>
<script setup lang="ts">
import { useDate } from 'vuetify'
import { computed, ref } from 'vue'
const dateHook = useDate()
 defineProps({
    label:String,
    rules: Array<(value: string) => (any)>
})
const model = defineModel()
const menu = ref(false)

const formatedDate = computed(()=>{
  if(!model.value) return ''
  return dateHook.format(model.value,'keyboardDate')
})

</script>