<style scoped>

</style>
<template>
  <v-menu
    v-model="menu"
    :close-on-content-click="false"
  >
    <template v-slot:activator="{ props }">
      <v-text-field
        :model-value="model"
        :label="label"
        :rules="rules"
        readonly
        v-bind="props"
        variant="outlined"
        append-icon="mdi-clock-time-four-outline"
      ></v-text-field>
    </template>
    <v-time-picker
      format="24hr"
      v-model="model"
      required
    ></v-time-picker>
  </v-menu>
</template>
<script setup lang="ts">
import { ref } from 'vue'
 defineProps({
    label:String,
    rules: Array<(value: string) => (any)>
})
const model = defineModel()
const menu = ref(false)

</script>