<style scoped>
.container {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: #FFF;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 8px;
}

.professional-header-info {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
  text-align: right;
}

</style>

<template>
  <section class="container">
    <v-card>
      <v-layout>
        <v-app-bar theme="light" :elevation="2">
          <template v-slot:prepend>
          </template>

          <v-app-bar-title>Bem-vindo(a)</v-app-bar-title>
          <template v-slot:append>
            <div class="professional-header-info">
              <span>Glauber Motta da Silva Araújo</span>
              <span>Médico  - Cardiologista</span>
            </div>
          </template>
        </v-app-bar>
        <v-navigation-drawer
          v-model="drawer"
          :rail="rail"
          permanent
          @click="rail = false"
          theme="dark"
        >
          <v-list-item
            prepend-avatar="https://randomuser.me/api/portraits/men/85.jpg"
            title="Usuário teste"
            nav
          >
            <template v-slot:append>
              <v-btn
                icon="mdi-chevron-left"
                variant="text"
                @click.stop="rail = !rail"
              ></v-btn>
            </template>
          </v-list-item>
          <v-divider></v-divider>
          <v-list density="compact" nav>
            <v-list-item prepend-icon="mdi-hospital-building" title="Unidades de Saúde" value="healthUnities"
                         @click="handleNavigateHealthUnities"></v-list-item>
            <v-list-item prepend-icon="mdi-account" title="Profissionais" value="profissional"
                         @click="handleNavigateProfissional"></v-list-item>
            <v-list-item prepend-icon="mdi-calendar-clock" title="Agenda de Profissionais" value="schedule"
                         @click="handleNavigateSchedule"></v-list-item>
            <v-list-item prepend-icon="mdi-book-open" title="Agendar Paciente" value="schedulingAppointments"
                         @click="handleNavigateScheduleAppointment"></v-list-item>
            <v-list-item prepend-icon="mdi-application-import" title="Importação" value="applicationImport"
                         @click="handleNavigateImport"></v-list-item>
            <v-list-item prepend-icon="mdi-chat" title="Chat" value="chat"
                         @click="handlePagePlaceholder"></v-list-item>
            <v-list-item prepend-icon="mdi-medical-bag" title="Soap" value="soap"
                         @click="handlePagePlaceholder"></v-list-item>
            <v-list-item prepend-icon="mdi-pill" title="Exames" value="exames"
                         @click="handlePagePlaceholder"></v-list-item>
            <v-list-item prepend-icon="mdi-account-multiple" title="Gestão de perfis" value="profile"
                         @click="handlePagePlaceholder"></v-list-item>
          </v-list>
        </v-navigation-drawer>
        <v-main class="main">
          <v-breadcrumbs :items="breadcrumbItems" />
          <RouterView />
        </v-main>
      </v-layout>
    </v-card>
  </section>
</template>
<script setup lang="ts">
import { RouterView, useRoute } from 'vue-router'
import { computed, ref } from 'vue'
import router from '@/router'
const route = useRoute();
const drawer = ref(true)
const rail = ref(true)

const handleNavigateProfissional = () => {
  router.push({ path: '/professionals' })
}
const handleNavigateHealthUnities = () => {
  router.push({ path: '/health-unities' })
}
const handleNavigateSchedule = () => {
  router.push({ path: '/schedule' })
}
const handleNavigateScheduleAppointment = () => {
  router.push({ path: '/schedule-appointment' })
}
const handleNavigateImport = () => {
  router.push({ path: '/import' })
}
const handlePagePlaceholder = () => {
  router.push({ path: '/page-placeholder' })
}

const breadcrumbItems = computed(()=>{
  const pathArray = route.path.split('/').filter(p => p);
  const breadcrumbItems = pathArray.map((path, index) => {
    return {
      title: path.charAt(0).toUpperCase() + path.slice(1),
      href: '/' + pathArray.slice(0, index + 1).join('/')
    };
  });
  return breadcrumbItems
  // return [{ title: 'Home', href: '/' }, ...breadcrumbItems];
})

</script>

